<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.dao.LclOrderGoodsHistoryMapper">
  <resultMap id="BaseResultMap" type="com.example.mybatisplus.po.LclOrderGoodsHistory">
    <!--@mbg.generated-->
    <!--@Table lcl_order_goods_history-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="global_order_no" jdbcType="BIGINT" property="globalOrderNo" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="package_type" jdbcType="VARCHAR" property="packageType" />
    <result column="unit_weight" jdbcType="BIGINT" property="unitWeight" />
    <result column="unit_volume" jdbcType="BIGINT" property="unitVolume" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="total_weight" jdbcType="BIGINT" property="totalWeight" />
    <result column="total_volume" jdbcType="BIGINT" property="totalVolume" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, global_order_no, order_no, goods_name, specification, package_type, unit_weight, 
    unit_volume, quantity, total_weight, total_volume, del_flag, create_user, update_user, 
    version, update_time, create_time
  </sql>
</mapper>