<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.dao.LclOrderFixedFeeMapper">
  <resultMap id="BaseResultMap" type="com.example.mybatisplus.po.LclOrderFixedFee">
    <!--@mbg.generated-->
    <!--@Table lcl_order_fixed_fee-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="global_order_no" jdbcType="BIGINT" property="globalOrderNo" />
    <result column="fee_key" jdbcType="VARCHAR" property="feeKey" />
    <result column="fee_val" jdbcType="VARCHAR" property="feeVal" />
    <result column="fee" jdbcType="BIGINT" property="fee" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="is_fixed" jdbcType="TINYINT" property="isFixed" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_no, global_order_no, fee_key, fee_val, fee, `type`, is_fixed, del_flag, 
    version, create_time, update_time
  </sql>
</mapper>